.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
}
.container{
    background-image: url('images/bg-pattern-top-desktop.svg'),
        url('images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    
}
h1{
    color:hsl(300, 43%, 22%)
}
.subText{
    opacity:0.33;
    position:relative;
    bottom:20px;
}
.topLeft{
    position:relative;
    left:30px;
}
.topRight{
    position:relative;
    right:35px;
}
.ratings{
    color:hsl(300, 43%, 22%);
    width:350px;
    height:40px;
    margin:30px;
    background-color:#fcf0ff;
    border-radius:5px 5px 5px 5px;
}
.ratings p{
   position:relative;
   bottom:18px;
   left:165px;
}
.star{
    position:relative;
    top:11px;
    left:40px;
}
#reviews{
    position:relative;
    top:17px;
    right:40px;
}
#bestTech{
    position:relative;
    bottom:17px;
    left:40px;
}
.review{
    padding:25px 20px 25px 20px;
    background-color: hsl(300, 43%, 22%);
    color:white;
    border-radius: 7px 7px 7px 7px;
}
#colton{
    position:relative;
    bottom:15px;
    left:40px;
}
#colton .heading{
    display:flex;
    font-size:9px;
}
#colton img{
   border-radius:50%; 
   width:30px;
   height:30px;
}
#irene .heading{
    display:flex;
    font-size:9px;
}
#irene img{
   border-radius:50%; 
   width:30px;
   height:30px;
}
#anne{
    position:relative;
    top:15px;
    right:40px;
}
#anne .heading{
    display:flex;
    font-size:9px;
}
#anne img{
   border-radius:50%; 
   width:30px;
   height:30px;
}
.container{
    display:flex;
    flex-direction:column;
    width:1000px;
    height:600px;
}
.container .top{
    display:flex;
    justify-content:space-around;
}
.container .bottom{
    display:flex;
    justify-content:space-evenly;
}